
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main-container .box {
    background-color: #d4112f;
    width: 300px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container .box .white-box {
    background-color: #fff;
    width: 200px;
    height: 40px;
    padding: 0px;
    border: 0px;
    display: inline;
    position: relative;
}

.main-container .box .white-box p {
    float: left;
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    margin: 0px;
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 24px;
    background-color: #d4112f;
    color: #fff;
    font-family: Muli;
    font-size: 11px;
    font-weight: bold;
}

.main-container .box .white-box svg {
    float: right;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    
}

.main-container .box div.white-box:hover,
.main-container .box div.white-box:hover p,
.main-container .box div.white-box:hover svg
 {
    background-color: #092153;
    fill: #fff;
}
